<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="MiConexion"
		 connectionString="Server=localhost;Port=3306;Database=BDSistema_venta;Uid=bdsistema_user;Pwd=BDsist3ma2025;"
		 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>